# 데이터베이스 자료처리

데이터베이스
- 자료를 컴퓨터에서 처리가 가능하도록 저장한것
- 통합, 저장, 운영 가능한 공용 데이터를 의미

데이터베이스관리시스템(DBMS)
- 방대한 양의 자료를 효율적으로 저장하고, 편리하게 관리 및 검색할 수 있는 환경을 제공하는 시스템 소프트웨어
- 사용자 인터페이스와 데이터베이스언어(SQL)로 구성됨
- 대표적인 DBMS는 MySQL, ORACLE, SQLite 등

관계형데이터베이스
- 자료와 자료 사이의 관계를 2차원의 테이블 형태로 제공하는 데이터베이스
- 테이블의 각 행은 하나의 객체로 표현되고, 각 열은 객체의 속성으로 표현됨
- 행 : 레코드(로우) / 열 : 필드
- 관계형데이터베이스를 시스템에 구축하기 위해서는 데이터베이스관리시스템이라는 소프트웨어를 이용해야함

DBMS 기능
- 정의 : 자료의 형태, 구조, 데이터베이스 저장에 관한 내용을 정의
- 조작 : 검색, 수정, 삽입, 삭제 등 지원 / 사용자와 데이터베이스 사이의 인터페이스를 위한 수단 제공
- 제어 : 데이터베이스의 내용에 대해 정확성과 안전성을 유지하는 기능 / 무결성 유지, 자료 보안, 병행 수행 제어 등의 기능 제공

SQLite3
- 기기 내부에서만 사용할 수 있는 DBMS
- 모바일이나 소형 기기에서 관계형데이터베이스를 생성하는 소프트웨어
- 외부에서의 접근은 허용하지 않음

CRUD
- create table()
- insert into values()
- select from
- update set
- delete from

In [1]:
import sqlite3
print(sqlite3.sqlite_version_info)

(3, 33, 0)

In [2]:
# 289~290
try:
    # db 연동 객체
    conn = sqlite3.connect("data/sqlite_db.db") # db 생성 -> 연결 object
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # table 생성
    sql = 'create table if not exists test_table(name text(10), phone text(15), addr text(50))'
    
    # sql문 실행
    cursor.execute(sql)
    
    # 레코드 추가
    cursor.execute("insert into test_table values('홍길동','010-1111-1111','서울시')")
    cursor.execute("insert into test_table values('이순신','010-2222-2222','해남시')")
    cursor.execute("insert into test_table values('강감찬','010-1111-1111','평양시')")
    
    # db반영
    conn.commit()
    
    # 레코드 조회
    cursor.execute("select * from test_table")
    
    # 조회 레코드 가져오기
    rows = cursor.fetchall()
    
    # 레코드 출력 1
    for row in rows:
        print(row)
    
    # 레코드 출력 2    
    print('이름 \t 전화번호 \t 주소')
    for row in rows :
        print(row[0], '\t', row[1], '\t', row[2])
        
except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback() # 실행 취소

finally :
    cursor.close() # cursor 객체 닫기
    conn.close() # conn 객체 닫기

('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '평양시')
이름 	 전화번호 	 주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 평양시

In [14]:
# 테이블 지우기
conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
cursor = conn.cursor()
sql = 'delete from test_table'
cursor.execute(sql)
conn.commit()

In [20]:
# 291~292

try:
    # db 연동 객체
    conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # table 생성
    sql = '''create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0)'''
    
    # sql 실행
    cursor.execute(sql)
    
#     # 레코드 추가
#     cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
#     cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
#     cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")

#     # db 반영
#     conn.commit()
    
    # 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall() # 레코드 가져오기

    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
    
    # 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    if rows : # null = false
        for row in rows : 
            print(row)
    else :
        print('검색된 레코드 없음')
        
except Exception as e :
    print('db 연동 error:', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

1 냉장고 2 8500000.0
2 세탁기 3 5500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
검색된 레코드 수 :  4
상품명 입력 : 지
(3, '전자레인지', 0, 0.0)

In [27]:
# 293~294

# 291~292

try:
    # db 연동 객체
    conn = sqlite3.connect("sqlite_db") # db 생성 -> 연결 object
    
    # sql 실행 객체
    cursor = conn.cursor()
    
    # table 생성
    sql = '''create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0)'''
    
    # sql 실행
    cursor.execute(sql)
    
# #     레코드 추가
#     cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
#     cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
#     cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")

# #     db 반영
#     conn.commit()

# # 추가 ------------------------------------------------------
#     # 레코드 추가 : 2차
#     code = int(input('code 입력 : '))
#     name = input('name 입력 : ') # 문자
#     su = int(input('su 입력 : '))
#     dan = int(input('dan 입력 : '))
    
#     sql = f"insert into goods values({code},'{name}',{su},{dan})"
#     cursor.execute(sql) # 레코드 추가
#     conn.commit()
    
#     # 레코드 수정 : code -> su, dan 수정
#     code = int(input('수정 code 입력 : '))
#     su = int(input('수정 su 입력 : '))
#     dan = int(input('수정 dan 입력 : '))
    
#     sql = f"update goods set su = {su}, dan = {dan} where code = {code}"
#     cursor.execute(sql) # 수정
#     conn.commit() # db 반영
    
    # 레코드 삭제 : code -> 삭제
    code = int(input('삭제 code 입력 : '))
    sql = f"delete from goods where code = {code}"
    cursor.execute(sql) # 삭제
    conn.commit() # db 반영
    
    # 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall() # 레코드 가져오기

    for row in rows:
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))
    
    # 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회
    rows = cursor.fetchall()
    
    if rows : # null = false
        for row in rows : 
            print(row)
    else :
        print('검색된 레코드 없음')
        
except Exception as e :
    print('db 연동 error:', e)
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

삭제 code 입력 : 5
1 냉장고 2 8500000.0
2 세탁기 3 5500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
검색된 레코드 수 :  4
상품명 입력 : 노트북
검색된 레코드 없음

In [15]:
# 062일차-실습-0-5.
# <요구사항>의 가 ~ 라 항을 연속하여 수행하는 파이썬 프로그램을 작성하세요.

import sqlite3

try:
    # 가.
    # 아래의 정보를 참조하여 data/sqlite2_db 데이터 베이스에 테이블을 생성하세요

    conn = sqlite3.connect("data/sqlite2_db")

    cursor = conn.cursor()

    sql = '''create table item(
    code integer primary key,
    name text(30) unique not null,
    qty integer default 0,
    unit_price real default 0.0)'''

    cursor.execute(sql)

    # 나. 
    # 아래의 정보를 참조하여 item테이블에 5건의 row를 추가하세요.

    cursor.execute("insert into item values(1, '선풍기', 1, 150)")
    cursor.execute("insert into item values(2, '에어콘', 1, 200)")
    cursor.execute("insert into item values(3, '충전기', 1, 100)")
    cursor.execute("insert into item values(4, '키보드', 1, 70)")
    cursor.execute("insert into item values(5, '마우스', 1, 60)")

    conn.commit()

    # 다. 
    # 나.항에서 추가한 5건의 row를 모두 조회하는 쿼리를 만들고 그 쿼리를 실행하세요.

    cursor.execute("select * from item")
    rows = cursor.fetchall()
    
    print("<code | name | qty | price>")
    for row in rows:
        print(row)

    # 라.
    # 나.항에서 추가한 5건의 row 중 사용자가 input으로 입력한 code 값에 해당하는 정보를 조회하는 코드를 작성하세요.

    codenum = int(input("code값을 입력하세요 : "))
    cursor.execute(f"select * from item where code = {codenum}")
    coderow = cursor.fetchall()[0]
    print(f"조회결과는 코드 : {coderow[0]}, 제품명 : {coderow[1]}, 수량 : {coderow[2]}, 단가 : {coderow[3]} 입니다.")

except Exception as e :
    print(f"에러발생 부분 : {e}")
    conn.rollback()

finally:
    cursor.close()
    conn.close()

<code | name | qty | price>
(1, '선풍기', 1, 150.0)
(2, '에어콘', 1, 200.0)
(3, '충전기', 1, 100.0)
(4, '키보드', 1, 70.0)
(5, '마우스', 1, 60.0)
code값을 입력하세요 : 4
조회결과는 코드 : 4, 제품명 : 키보드, 수량 : 1, 단가 : 70.0 입니다.

In [33]:
# 062일차-실습-0-6.
# item 테이블을 대상으로 '상품등록', '상품조회1', '상품조회2' 기능을(를) 구현하는 파이썬 프로그램을 작성하세요.

import sqlite3

try:
    # 가.
    # 아래의 정보를 참조하여 data/sqlite2_db 데이터 베이스에 테이블을 생성하세요

    conn = sqlite3.connect("data/sqlite2_db")

    cursor = conn.cursor()

############ 이전 코드 ##############
#     sql = '''create table item(
#     code integer primary key,
#     name text(30) unique not null,
#     qty integer default 0,
#     unit_price real default 0.0)'''

#     cursor.execute(sql)

#     # 나. 
#     # 아래의 정보를 참조하여 item테이블에 5건의 row를 추가하세요.

#     cursor.execute("insert into item values(1, '선풍기', 1, 150)")
#     cursor.execute("insert into item values(2, '에어콘', 1, 200)")
#     cursor.execute("insert into item values(3, '충전기', 1, 100)")
#     cursor.execute("insert into item values(4, '키보드', 1, 70)")
#     cursor.execute("insert into item values(5, '마우스', 1, 60)")

#     conn.commit()

#     # 다. 
#     # 나.항에서 추가한 5건의 row를 모두 조회하는 쿼리를 만들고 그 쿼리를 실행하세요.

#     cursor.execute("select * from item")
#     rows = cursor.fetchall()
    
#     print("<code | name | qty | price>")
#     for row in rows:
#         print(row)

#     # 라.
#     # 나.항에서 추가한 5건의 row 중 사용자가 input으로 입력한 code 값에 해당하는 정보를 조회하는 코드를 작성하세요.

#     codenum = int(input("code값을 입력하세요 : "))
#     cursor.execute(f"select * from item where code = {codenum}")
#     coderow = cursor.fetchall()[0]
#     print(f"조회결과는 코드 : {coderow[0]}, 제품명 : {coderow[1]}, 수량 : {coderow[2]}, 단가 : {coderow[3]} 입니다.")

    # 이전코드에서 만든 레코드 삭제
    sql = 'delete from item'
    cursor.execute(sql)
    conn.commit()

    num = int(input('한번에 등록할 상품 수 : '))

# - '상품등록' 기능을 수행할 때, 아래와 같이 사용자로부터 입력을 받은 후에
# 해당 변수의 내용을 테이블의 컬럼(필드)명과 매칭하여 insert하는 방법으로 하여야합니다.
    
    print("----------------------------------------")
    print("<실행결과1>")
    print("===상품등록===")
    
    for i in range(0,num):      
        code = int(input('code 입력 : '))
        name = input('name 입력 : ')
        su = int(input('su 입력 : '))
        dan = int(input('dan 입력 : '))
        sql = f"insert into item values({code}, '{name}', {su}, {dan})"
        cursor.execute(sql)
        conn.commit()
        print("상품등록을 성공했습니다.")
        print("")

# '상품조회1'은 item 테이블에 저장된 모든 로우(레코드)를 조회하는 개념입니다.
# 현재까지 item 테이블에 저장된 모든 자료를 검색하여 화면에 출력 하세요.
    print("----------------------------------------")
    print("<실행결과2>")
    print("===상품조회1===")
    print("(code, name, qty, price)")
    
    cursor.execute("select * from item")
    rows = cursor.fetchall()
    
    for row in rows:
        print(row)

# - '상품조회2'은 item 테이블에 저장된 모든 로우(레코드) 중에서 사용자가 input()을 이용하여
#    입력한 데이터와 매칭하는 특정 로우를 조회하는 개념입니다.
# - 사용자로부터 코드를 입력받아 item 테이블에 저장된 모든 자료 중에서
#   입력한 코드와 동일한 Code를 가진 로우를 검색하여 화면에 출력 하세요.
# - 만일 사용자가 입력한 코드가 없다면 '조회결과 입력한 코드에 맞는 상품이 었습니다.' 라는 메시지를 출력합니다
    print("")
    print("----------------------------------------")
    print("<실행결과3>")
    print("===상품조회2===")
    
    select_code = int(input("조회할 코드를 입력하세요 : "))
    cursor.execute(f"select * from item where code={select_code}")
    code_row = cursor.fetchall()
    if code_row:
        print(f"조회결과는 코드:{code_row[0][0]}, 제품명:{code_row[0][1]}, 수량:{code_row[0][2]}, 단가:{code_row[0][3]}입니다.")
    else :
        print("조회할 상품이 없습니다.")
    
    print("")
    print("----------------------------------------")
    print("<실행결과4>")
    print("===상품조회2===")
    
    select_code = int(input("조회할 코드를 입력하세요 : "))
    cursor.execute(f"select * from item where code={select_code}")
    code_row = cursor.fetchall()
    if code_row:
        print(f"조회결과는 코드:{code_row[0][0]}, 제품명:{code_row[0][1]}, 수량:{code_row[0][2]}, 단가:{code_row[0][3]}입니다.")
    else :
        print("조회할 상품이 없습니다.")
           
except Exception as e :
    print(f"에러발생 부분 : {e}")
    conn.rollback()

finally:
    cursor.close()
    conn.close()

한번에 등록할 상품 수 : 5
----------------------------------------
<실행결과1>
===상품등록===
code 입력 : 1
name 입력 : 선풍기
su 입력 : 1
dan 입력 : 150
상품등록을 성공했습니다.

code 입력 : 2
name 입력 : 에어콘
su 입력 : 1
dan 입력 : 200
상품등록을 성공했습니다.

code 입력 : 3
name 입력 : 충전기
su 입력 : 1
dan 입력 : 100
상품등록을 성공했습니다.

code 입력 : 4
name 입력 : 키보드
su 입력 : 1
dan 입력 : 70
상품등록을 성공했습니다.

code 입력 : 5
name 입력 : 마우스
su 입력 : 1
dan 입력 : 60
상품등록을 성공했습니다.

----------------------------------------
<실행결과2>
===상품조회1===
(code, name, qty, price)
(1, '선풍기', 1, 150.0)
(2, '에어콘', 1, 200.0)
(3, '충전기', 1, 100.0)
(4, '키보드', 1, 70.0)
(5, '마우스', 1, 60.0)

----------------------------------------
<실행결과3>
===상품조회2===
조회할 코드를 입력하세요 : 1
조회결과는 코드:1, 제품명:선풍기, 수량:1, 단가:150.0입니다.

----------------------------------------
<실행결과4>
===상품조회2===
조회할 코드를 입력하세요 : 7
조회할 상품이 없습니다.

In [3]:
# 062일차-실습-0-6-해답
import os
import sys
import sqlite3
try :
    # (1) db 연동 객체 
    conn = sqlite3.connect("data/sqlite2_1_db") # db 생성 -> 연결 object
    # sql 실행 객체 
    cursor = conn.cursor()

    # (2) item table 생성
    sql= """create table if not exists item(
        code integer primary key,
        name text(30) unique not null,
        qty integer default 0,
        unit_price real default 0.0)
        """
    cursor.execute(sql)
    conn.commit() # db 반영
    while True :
        # 상품등록 
        in_code = int(input('상품코드 입력 : '))
        sql = f"select * from item where code = {in_code}"
        cursor.execute(sql)
        rows = cursor.fetchall()

        if len(rows) > 0:
            print('존재하는 코드입니다.')
            os.system("pause")
            os.system('cls')
            continue
        else :
            in_name = input('상품명 입력 : ')
            in_qty = int(input("수량 입력 : "))
            in_unit_price = int(input("단가 입력 : "))
            sql = f"insert into item(code,name,qty,unit_price) values({in_code},'{in_name}',{in_qty},{in_unit_price})"
            cursor.execute(sql)
            conn.commit()
            print('상품 등록을 성공했습니다.')
            break

    # (4) 모든 레코드 조회
    cursor.execute("select * from item")
    rows = cursor.fetchall()
    print("===상품조회1===")
    print("(code, name, qty, price)")
    for row in rows :
        print(row)

    # (5) 단일 레코드 조회  
    in_code = int(input("조회할 코드를 입력하세요 : "))
    sql = f"select * from item where code = {in_code}"
    cursor.execute(sql)
    rows = cursor.fetchall()
    if rows :
        for row in rows :
            print("조회결과는 코드:{}, 제품명:{}, 수량:{}, 단가:{} 입니다.".format(row[0],row[1],row[2],int(row[3])))
    else:
        print("조회결과는 코드:{}는 없습니다.".format(in_code))
except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback() # 실행 취소 
finally:
    cursor.close()
    conn.close()

상품코드 입력 : 2
존재하는 코드입니다.
상품코드 입력 : 1
존재하는 코드입니다.
상품코드 입력 : 3
상품명 입력 : 충전기
수량 입력 : 1
단가 입력 : 100
상품 등록을 성공했습니다.
===상품조회1===
(code, name, qty, price)
(1, '선풍기', 1, 150.0)
(2, '에어콘', 200, 200.0)
(3, '충전기', 1, 100.0)
조회할 코드를 입력하세요 : 7
조회결과는 코드:7는 없습니다.

In [4]:
# 패키지 import
import pymysql
print("<실행결과>")
print(pymysql.version_info)

# db연동 환경변수
config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : '0000',
    'database' : 'work',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True
}

try:
    # db 연동객체
    conn = pymysql.connect(**config)

    # sql문 실행 객체
    cursor = conn.cursor()

    # 테이블 조회
    sql = "show tables"
    cursor.execute(sql)
    tables = cursor.fetchall()

    # 전체 table 목록 출력
    print(tables)

    # table 유무
    if tables:
        print('table 있음')
    else:
        print('table 없음')

except Exception as e:
    print('db error :',e)

finally:
    cursor.close()
    conn.close()

<실행결과>
(1, 4, 0, 'final', 0)
(('goods',),)
table 있음